.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: #edf1f7;
    transform: translate(-50%, -50%);
    font-family: 'Proxima Nove Regular';
    color: #444c63;
    z-index: 6;
    border-radius: 15px;


    &__title {
        padding: 50px;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }

    &__btn-close {
        width: 50px;
        height: 50px;
        margin: 5px 0 0 450px;
        background-color: transparent;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }

    #close-modal {
        fill: #444c63;
    }

    &__btn-close:hover #close-modal {
        fill: #15a3f9;
    }

    &__form {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: column;


        &__input {
            margin-bottom: 15px;
            padding: 5px;
            border-radius: 15px;
            border: 1px solid #78829d;

            &:focus {
                outline-color: #15a3f9;
            }

            &-cover {
                margin: 0 auto;
                margin-bottom: 15px;
                border: none;
            }
        }





        &-label {
            padding-left: 5px;
        }

        .modal__btn-submit {
            margin: 0 auto;
            font-family: 'Proxima Nove Regular';
            color: #78829d;
            background-color: #1f2537;
            border-radius: 5px;
            width: 120px;
            height: 30px;
            border: none;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: #15a3f9;
                color: #fff;
            }
        }


    }
}